*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}
nav ul{
    display: flex;
    gap : 40px;
    font-weight: 500;
    align-items: center;
}
nav ul li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}
nav ul button{
    border: none;
    border-radius: 6px;
    background-color: rgb(246, 59, 59);
    color: white;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}

.hero-section{
    height: 75vh;
    background-color: #E0E5E9;
    position: relative;
    z-index: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    z-index: 4;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shadow{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.text-glow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.tagline1{
    color: rgb(246, 59, 59);
    font-size: 24px;
}
.main-line{
    color : #001B48;
    font-size: 40px;
}
.main-details{
    color: grey;
}

.hero-button{
    position: relative;
    z-index: 4;
    background-color: rgb(246, 59, 59);
    padding: 15px 30px;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
.hero-button2{
    position: relative;
    z-index: 4;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid #001B48;
    padding: 15px 30px;
    color: #001B48;
    font-weight: 600;
    margin-left: 8px;
    cursor: pointer;
}
#person-photo{
    margin-top: 80px;
    position: relative;
    z-index: 2;
}

.lines{
    width: 100%;
    z-index: 0;
    pointer-events: none;
    position: absolute;
}

#hero-overlay{
    height: 100%;
    width: 100%;
    background-color: #e0e5e97d;
    position: absolute;
    z-index: 1;
}

.B-Section{
    min-height: 75vh;
    background-color: #ffffff;
    position: relative;
    z-index: -4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.C-Section{
    min-height: 75vh;
    background-color: #e0e5e97d;
    position: relative;
    z-index: -4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vscode-temp{
    border-radius: 40px;
    transform: rotate(-15deg);
}
#webpage-temp{
    height: 16%;
    width: 38%;
    border-radius: 40px;
    transform:rotate(15deg);
}

.card2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tagline1-B-Section{
    color: #001B48;
    font-weight: 500;
    font-size: 48px;
    margin-left: -50px;
    display: relative;
    z-index: 10;
}

